{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center mt-5 mb-4">
            <div class="h-100 w-auto rounded-circle p-4 lock-icon">
                <i class="fas fa-lock fa-3x"></i>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 mb-1">
                <form method="post">
                    <div class="card">
                        <div class="card-header text-center">
                            <h1>Connexion</h1>
                        </div>
                        <div class="card-body">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="checkbox mb-3">You are logged in as {{ app.user.username }}, <a
                                            href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="inputUsername" class="sr-only">Username</label>
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                                       class="form-control" placeholder="Nom utilisateur" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       placeholder="Mot de passe" required>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-secondary btn-custom" type="submit">Connexion</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 mb-5 text-center">
                Si vous n'avez pas encore de compte <a href="{{ path('user_registration') }}">inscrivez-vous</a>
            </div>
        </div>
    </div>
{% endblock %}
