{% extends 'base.html.twig' %}

{% block title %}BOVoyages | Bienvenue{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="jumbotron mx-3 mb-3 w-100"></div>
            <div class="justify-content-center text-center w-100">
                <h1> Par ici les bons plans ! </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for voyage in voyages %}
                <div class="col-md-4 text-center my-3">
                    <div class="card shadow h-100">
                        <div class="card-body">
                            <h2>{{ voyage.destinationCountry }}</h2>
                            <img src="{{ voyage.image }}" class="my-2"/>
                            <h4>{{ voyage.destinationCity }}</h4>
                            <p>{{ voyage.description }}</p>
                            <p><a class="btn btn-secondary" href="{{ path('voyage_showClient', { id: voyage.id }) }}"
                                  role="button">Voir details &raquo;</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
