{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col my-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>Reservation</h1>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Destination</th>
                                <th>Date Aller</th>
                                <th>Date Retour</th>
                                <th>Nom Client</th>
                                <th>Email Client</th>
                                <th>Tel. Client</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reservation in reservations %}
                                <tr>
                                    <td>{{ reservation.voyage.destinationVoyage }}</td>
                                    <td>{{ reservation.voyage.dateAller | date('d/m/Y') }}</td>
                                    <td>{{ reservation.voyage.dateRetour | date('d/m/Y') }}</td>
                                    <td>{{ reservation.client.prenomClient }} {{ reservation.client.nomClient }}</td>
                                    <td>{{ reservation.client.emailClient }}</td>
                                    <td>{{ reservation.client.telClient }}</td>
                                    <td class="text-nowrap">
                                        <a class="btn btn-secondary btn-custom" href="{{ path('reservation_show', {'id': reservation.id}) }}">Afficher</a>
                                        <a class="btn btn-secondary btn-custom" href="{{ path('reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-secondary btn-custom" href="{{ path('reservation_new') }}">Nouveau Reservation</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
