{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col my-5">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>Liste des Clients</h1>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">


                            <thead>
                            <tr>
                                <th class="text-center">Nom Client</th>
                                <th class="text-center">Prénom Client</th>
                                <th class="text-center">Tel. Client</th>
                                <th class="text-center">Email Client</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>{{ client.nomClient }}</td>
                                    <td>{{ client.prenomClient }}</td>
                                    <td>{{ client.telClient }}</td>
                                    <td>{{ client.emailClient }}</td>
                                    <td class="text-nowrap text-center">
                                        <a class="btn btn-secondary btn-custom" href="{{ path('client_show', {'id': client.id}) }}">Afficher</a>
                                        <a class="btn btn-secondary btn-custom" href="{{ path('client_edit', {'id': client.id}) }}">Modifier</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-secondary btn-custom" href="{{ path('client_new') }}">Nouveau Client</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
