{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center mt-3">
            <div class="col-8 my-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>Client</h1>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ client.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom Client</th>
                                <td>{{ client.nomClient }}</td>
                            </tr>
                            <tr>
                                <th>Prénom Client</th>
                                <td>{{ client.prenomClient }}</td>
                            </tr>
                            <tr>
                                <th>Tel. Client</th>
                                <td>{{ client.telClient }}</td>
                            </tr>
                            <tr>
                                <th>Email Client</th>
                                <td>{{ client.emailClient }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-secondary btn-custom" href="{{ path('client_index') }}">Retour <i class="fas fa-undo-alt"></i></a>
                        <a class="btn btn-secondary btn-custom"
                           href="{{ path('client_edit', {'id': client.id}) }}">Modifier <i class="fas fa-pencil-alt"></i></a>
                        {{ include('client/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>


{% endblock %}
